{% extends 'base.html.twig' %}

{% block title %}Associer{% endblock %}

{% block body %}
    <h1>Associer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ associer.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('associer_index') }}">back to list</a>

    <a href="{{ path('associer_edit', {'id': associer.id}) }}">edit</a>

    {{ include('associer/_delete_form.html.twig') }}
{% endblock %}
