{% extends 'base.html.twig' %}

{% block title %}PPE4{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    
</style>

<div class="container space-of-nav">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6 button">
                    <a href="#">
                        <img class="pic-1" src="https://cdn.shopify.com/s/files/1/2692/4812/files/bobmer_720x.jpg?v=1581158930">
                        <button class="btn">Nouvelle collection</button>
                    </a>
                </div>


            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6 button">
                    <a href="#">
                        <img class="pic-1" src="https://cdn.shopify.com/s/files/1/2692/4812/files/product-image-1094536988_1024x1024_1_720x.jpg?v=1567778372">
                        <button class="btn">Destockage</button>
                    </a>
                </div>

            </div>
        </div>

    </div>

        <h3 class="h3 bold">LES PRODUITS DE LA SEMAINE</h3>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="#">
                            <img class="pic-1" src="https://cdn.shopify.com/s/files/1/2692/4812/products/hoodie-naoki-noir-m-sweatshirt-akin_240_510x.jpg?v=1572412856">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Sweat</a></h3>
                        <div class="price">$30.00
                            <span>$40.00</span>
                        </div>
                    </div>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="#">
                            <img class="pic-1" src="https://cdn.shopify.com/s/files/1/2692/4812/products/hoodie-noritomo-noir-l-sweatshirt-akin_578_605x.jpg?v=1572412858">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Sweat</a></h3>
                        <div class="price">$25.00
                            <span>$27.00</span>
                        </div>
                    </div>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="#">
                            <img class="pic-1" src="https://cdn.shopify.com/s/files/1/2692/4812/products/product-image-1234633158_650x.jpg?v=1579793385">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Bomber</a></h3>
                        <div class="price">$55.00
                            <span>$70.00</span>
                        </div>
                    </div>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="#">
                            <img class="pic-1" src="https://cdn.shopify.com/s/files/1/2692/4812/products/HOODIE_ONI_BLUE_BACK_650x.jpg?v=1578329540">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Sweat</a></h3>
                        <div class="price">$32.00
                            <span>$36.00</span>
                        </div>
                    </div>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="#">
                            <img class="pic-1" src="https://cdn.shopify.com/s/files/1/2692/4812/products/hoodie-naoki-noir-m-sweatshirt-akin_240_510x.jpg?v=1572412856">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Sweat</a></h3>
                        <div class="price">$30.00
                            <span>$40.00</span>
                        </div>
                    </div>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="#">
                            <img class="pic-1" src="https://cdn.shopify.com/s/files/1/2692/4812/products/hoodie-noritomo-noir-l-sweatshirt-akin_578_605x.jpg?v=1572412858">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Sweat</a></h3>
                        <div class="price">$25.00
                            <span>$27.00</span>
                        </div>
                    </div>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="#">
                            <img class="pic-1" src="https://cdn.shopify.com/s/files/1/2692/4812/products/product-image-1234633158_650x.jpg?v=1579793385">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Bomber</a></h3>
                        <div class="price">$55.00
                            <span>$70.00</span>
                        </div>
                    </div>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="#">
                            <img class="pic-1" src="https://cdn.shopify.com/s/files/1/2692/4812/products/HOODIE_ONI_BLUE_BACK_650x.jpg?v=1578329540">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Sweat</a></h3>
                        <div class="price">$32.00
                            <span>$36.00</span>
                        </div>
                    </div>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <h3 class="h3 bold">NOS PARTENAIRES</h3>
<div class="container-fluid">
    <center>
        <img class="space-partners" src="https://cdn.1min30.com/wp-content/uploads/2017/09/logo-microsoft-1024x317.jpg" width="15%">
        <img class="space-partners" src="https://www.mountainnews.fr/wp-content/uploads/2016/02/Samsung-Logo-SW.png" width="15%">
        <img class="space-partners" src="https://1000logos.net/wp-content/uploads/2016/10/Adidas-symbol.jpg" width="15%">
        <img class="space-partners" src="https://i.pinimg.com/originals/ac/c3/ea/acc3ead46f6bfe7b61ab08fbd4d30a23.jpg" width="15%"><br>

        <img class="space-partners" src="https://fr.msi.com/images/MSI_logo_for_share2.png" width="15%">
        <img class="space-partners" src="https://cdn.1min30.com/wp-content/uploads/2018/06/Embl%C3%A8me-NVIDIA.jpg" width="15%">
        <img class="space-partners" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/AMD_Logo.svg/1280px-AMD_Logo.svg.png" width="15%">
        <img class="space-partners" src="https://www.tieffe-group.it/wp-content/uploads/bfi_thumb/Maserati-logo-o2wao80p99qfj0192lzgkgn35ob4lpibmo8ag0d608.png" width="15%">



    </center>
</div>

    <h3 class="h3 bold">NOTRE LOCALISATION</h3>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.584506080904!2d2.9071665474828245!3d42.69134287140382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b06fb795f39d5f%3A0x16166ebc8d15cf36!2zTHljw6llIEplYW4gTHVyw6dhdA!5e0!3m2!1sfr!2sfr!4v1586505557218!5m2!1sfr!2sfr" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
{% endblock %}
