{% extends 'base.html.twig' %}

{% block title %}Resider index{% endblock %}

{% block body %}
    <h1>Resider index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resider in residers %}
            <tr>
                <td>{{ resider.id }}</td>
                <td>
                    <a href="{{ path('resider_show', {'id': resider.id}) }}">show</a>
                    <a href="{{ path('resider_edit', {'id': resider.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('resider_new') }}">Create new</a>
{% endblock %}
